.navMenu .navLink[data-format="image"] .navLinkText, .page-skeleton .page-header .header-nav-action .nav-label, .page-skeleton .page-header .header-member-menu .header-member-toggle .member-menu-sro, .page-skeleton .page-header .header-app-menu-action .nav-label,
.page-skeleton .page-header .header-side-menu-action .nav-label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page-skeleton .page-header, .page-skeleton .page-header-menu, .page-skeleton .page-app-menu, .page-skeleton .page-menu, .page-skeleton .page-side-menu {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.page-skeleton .page-header {
  z-index: 999;
  position: relative;
}

.page-main-wrap[data-nomenu] .page-skeleton .page-content-wrap, .page-skeleton .page-main-wrap[data-nomenu] .page-content-wrap, .page-main-wrap[data-nomenu] .page-skeleton .page-toolbar-wrap, .page-skeleton .page-main-wrap[data-nomenu] .page-toolbar-wrap {
  width: 100vw;
}

.page-skeleton .page-toolbar-wrap {
  background: #fff;
}
.page-skeleton .page-toolbar-wrap .inner-wrap {
  width: 100%;
  overflow: visible;
}
.page-skeleton .page-toolbar-wrap .inner-wrap:empty {
  display: none;
}

.navMenu .navLinks {
  color: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
}
.navMenu .navLinkAction {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
.navMenu .navLinkAction:hover .navLinkText {
  text-decoration: underline;
}
.navMenu .navLinkAction:hover .navLinkIcon svg {
  fill: currentColor;
}
.navMenu .navLinkText {
  color: inherit;
}
.navMenu .navLinkIcon svg {
  fill: currentColor;
  height: 1em;
  width: 1.2em;
  position: relative;
  vertical-align: middle;
  top: -2px;
}
.navMenu .navLinkIcon img {
  height: 1em;
  width: auto;
  display: block;
  vertical-align: middle;
  top: -2px;
}
.navMenu .navLink {
  margin-bottom: 0;
}
.navMenu .navLink[data-format="text"] .navLinkIcon {
  display: none;
}
.navMenu .navLink[data-format="image"][data-display="horizontal"] .navLinkIcon svg {
  vertical-align: text-bottom;
}
.navMenu .navLink[data-display="horizontal"] {
  display: inline-block;
}
.navMenu .navLink[data-display="vertical"] {
  display: block;
}
.navMenu .navLinkSpecial {
  display: block;
  transition: height 0.4s;
  overflow: hidden;
}

.navMenu.navMenu-pageNav .navLinks {
  font-size: 14px;
}
@media screen and (min-width: 46em) {
  .navMenu.navMenu-pageNav .navLinks {
    font-size: 16px;
  }
}
.navMenu.navMenu-pageNav .navLink[data-sub-state="opened"] .navLinkText .subMenuToggle svg {
  transform: rotate(180deg);
}
.navMenu.navMenu-pageNav .navLink[data-sub-state="closed"] .navLinkText .subMenuToggle svg {
  transform: rotate(0deg);
}
.navMenu.navMenu-pageNav .navLink[data-sub-state="closed"] > .navLinkSpecial {
  height: 0 !important;
}
.navMenu.navMenu-pageNav .navLinkAction,
.navMenu.navMenu-pageNav .navLinkActionAlt {
  outline: 0;
  line-height: 1.15;
  border: none;
  display: block;
  width: 100%;
  padding: 15px;
  color: #000;
  position: relative;
  text-align: left;
}
.navMenu.navMenu-pageNav .navLinkAction {
  cursor: pointer;
}
.navMenu.navMenu-pageNav .navLinkAction:hover, .navMenu.navMenu-pageNav .navLinkAction.active-link, .navMenu.navMenu-pageNav .navLinkAction:focus, .navMenu.navMenu-pageNav .navLinkAction.focus-link {
  background-color: #ccc;
}
.navMenu.navMenu-pageNav .navLinkAction:hover .navLinkText, .navMenu.navMenu-pageNav .navLinkAction.active-link .navLinkText, .navMenu.navMenu-pageNav .navLinkAction:focus .navLinkText, .navMenu.navMenu-pageNav .navLinkAction.focus-link .navLinkText {
  text-decoration: none;
}
.navMenu.navMenu-pageNav .navLinkSpecial .navLinkText {
  margin-left: 1.5rem;
}
.navMenu.navMenu-pageNav .navLinkText {
  display: inline-block;
}
.navMenu.navMenu-pageNav .navLinkText .subMenuToggle {
  outline: 0;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 47px;
  height: 47px;
  text-align: center;
  line-height: 47px;
}
.navMenu.navMenu-pageNav .navLinkText .subMenuToggle svg {
  width: 1.2em;
  height: auto;
  transition: transform .4s ease;
  display: inline;
  vertical-align: middle;
  position: relative;
  top: -3px;
}
@media screen and (min-width: 46em) {
  .navMenu.navMenu-pageNav .navLinkText .subMenuToggle {
    width: 49px;
    height: 49px;
  }
  .navMenu.navMenu-pageNav .navLinkText .subMenuToggle svg {
    top: -1px;
  }
}
.navMenu.navMenu-pageNav .navLinkIcon + .navLinkText {
  margin-left: 0;
}
.navMenu.navMenu-pageNav .navLinkSpecial {
  display: block;
  background: #eaeaea;
}
.navMenu.navMenu-pageNav .navLinkSpecial .navLinkAction.active-link {
  background-color: unset;
}
.navMenu.navMenu-pageNav .navLinkSpecial .navLinkAction.active-link:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5px;
  height: calc(100% - 10px);
  background-color: #ccc;
}
.navMenu.navMenu-pageNav .navLinkSpecial .navLinkAction:hover, .navMenu.navMenu-pageNav .navLinkSpecial .navLinkAction:focus, .navMenu.navMenu-pageNav .navLinkSpecial .navLinkAction.focus-link {
  background: #ddd;
}
.navMenu.navMenu-pageNav .navLinkSpecial .navLinkAction:hover .navLinkText, .navMenu.navMenu-pageNav .navLinkSpecial .navLinkAction:focus .navLinkText, .navMenu.navMenu-pageNav .navLinkSpecial .navLinkAction.focus-link .navLinkText {
  text-decoration: none;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  background: #fff;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.page-skeleton {
  height: 100%;
  overflow: hidden;
}
.page-skeleton .page-header {
  background: #00AAE4;
  color: #fff;
  min-height: 40px;
  display: flex;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-header {
    min-height: 50px;
  }
}
.page-skeleton .page-header header {
  display: flex;
  color: inherit;
  width: 100%;
}
.page-skeleton .page-header .header-nav-action {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background: none;
  color: #fff;
}
.page-skeleton .page-header .header-nav-action .nav-icon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.page-skeleton .page-header .header-nav-action .nav-icon svg {
  display: block;
  fill: currentColor;
  width: 40px;
  height: 40px;
  padding: 7px;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-header .header-nav-action .nav-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .page-skeleton .page-header .header-nav-action .nav-icon svg {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
}
.page-skeleton .page-header button.header-nav-action {
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.page-skeleton .page-header button.header-nav-action:hover, .page-skeleton .page-header button.header-nav-action:focus {
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.3);
}
.page-skeleton .page-header .header-content-wrap {
  flex: 1;
  display: flex;
  margin: auto;
  color: inherit;
}
.page-skeleton .page-header .header-content-wrap[data-nosidemenu] .header-member-menu {
  margin-right: 1rem;
}
.page-skeleton .page-header .header-branding {
  flex: 1;
  margin: auto 0;
}
.page-skeleton .page-header .header-branding h2 {
  max-width: calc(100vw - 148px);
  color: inherit;
  padding: 0 0.5rem;
  margin: 0;
  letter-spacing: 0.125rem;
  font-weight: 200;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-header .header-branding h2 {
    max-width: calc(100vw - 400px);
  }
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-header .header-branding h2 {
    font-size: 18px;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 46em) {
  .page-skeleton .page-header .header-branding h2 {
    font-size: 20px;
  }
}
.page-skeleton .page-header .header-member-menu {
  color: inherit;
  height: 40px;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-header .header-member-menu {
    height: 50px;
  }
}
.page-skeleton .page-header .header-member-menu .header-member-toggle {
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 6px;
  background: none;
  height: 100%;
  transition: background-color 0.3s ease;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-header .header-member-menu .header-member-toggle {
    width: 250px;
    padding: 6px 10px 6px 6px;
  }
}
.page-skeleton .page-header .header-member-menu .header-member-toggle[data-nomemberlabel] {
  width: auto;
  padding: 6px 12px 6px 12px;
}
.page-skeleton .page-header .header-member-menu .header-member-toggle:hover, .page-skeleton .page-header .header-member-menu .header-member-toggle:focus {
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.3);
}
.page-skeleton .page-header .header-member-menu .header-member-toggle .member-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.05);
  width: 38px;
  height: 38px;
  display: none;
  margin-right: 0.5rem;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-header .header-member-menu .header-member-toggle .member-image {
    display: block;
  }
}
.page-skeleton .page-header .header-member-menu .header-member-toggle .member-label {
  flex: 1;
  margin: auto;
  color: inherit;
  overflow: hidden;
  text-align: left;
  display: none;
  letter-spacing: 0.05rem;
  font-size: 0.85rem;
  max-height: 38px;
  word-wrap: break-word;
  font-weight: 300;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-header .header-member-menu .header-member-toggle .member-label {
    display: inline-block;
  }
}
.page-skeleton .page-header .header-member-menu .header-member-toggle .member-icon {
  display: block;
  margin: auto;
  margin-left: 0;
  font-size: 1rem;
}
.page-skeleton .page-header .header-member-menu .header-member-toggle .member-icon svg {
  display: block;
  fill: currentColor;
  width: 1em;
  height: 1em;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-header .header-member-menu .header-member-toggle .member-icon {
    margin-left: 0.5rem;
  }
}
.page-skeleton .page-header .header-member-menu .header-member-toggle[data-nomemberlabel] .member-icon {
  margin-left: 0;
}
.page-skeleton .page-header .header-app-menu-action,
.page-skeleton .page-header .header-side-menu-action {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background: none;
  color: #fff;
  transition: background-color 0.3s ease;
}
.page-skeleton .page-header .header-app-menu-action .nav-icon,
.page-skeleton .page-header .header-side-menu-action .nav-icon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.page-skeleton .page-header .header-app-menu-action .nav-icon svg,
.page-skeleton .page-header .header-side-menu-action .nav-icon svg {
  display: block;
  fill: currentColor;
  width: 40px;
  height: 40px;
  padding: 7px;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-header .header-app-menu-action .nav-icon,
  .page-skeleton .page-header .header-side-menu-action .nav-icon {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .page-skeleton .page-header .header-app-menu-action .nav-icon svg,
  .page-skeleton .page-header .header-side-menu-action .nav-icon svg {
    display: block;
    fill: currentColor;
    width: 50px;
    height: 50px;
    padding: 10px;
  }
}
.page-skeleton .page-header .header-app-menu-action:hover, .page-skeleton .page-header .header-app-menu-action:focus,
.page-skeleton .page-header .header-side-menu-action:hover,
.page-skeleton .page-header .header-side-menu-action:focus {
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.3);
}
.page-skeleton[data-nosidemenu] .header-member-menu {
  margin-right: 8px;
}
.page-skeleton[data-nosidemenu][data-noheadermenu] .header-app-menu-action {
  margin-right: 0.5rem;
}
@media screen and (min-width: 38em) {
  .page-skeleton[data-nosidemenu][data-noheadermenu] .header-app-menu-action {
    margin-right: 1rem;
  }
}
.page-skeleton .page-header-menu {
  position: fixed;
  max-height: 400px;
  width: 250px;
  background: #fff;
  max-width: calc(100vw - 25px);
  overflow: auto;
  height: 300px;
  max-height: calc(100vh - 40px - 1rem);
  transition: top 0.4s;
  top: 40px;
  right: 40px;
  /*right: 10px;*/
  z-index: 998;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-header-menu {
    max-height: calc(100vh - 50px - 1rem);
    top: 50px;
    right: 50px;
    /*right: 10px;*/
  }
}
.page-skeleton .page-header-menu .inner-wrap {
  overflow: auto;
}
.page-skeleton .page-header-menu .inner-wrap:focus {
  outline: 0px solid transparent;
}
.page-skeleton[data-nosidemenu] .page-header-menu {
  right: 8px;
}
.page-skeleton .page-app-menu {
  position: fixed;
  max-height: 350px;
  width: 450px;
  background: #fff;
  overflow: auto;
  height: 350px;
  max-height: calc(100vh - 40px - 0.5rem);
  max-width: calc(100vw - 1rem);
  transition: top 0.4s;
  top: 40px;
  right: 0.5rem;
  z-index: 998;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-app-menu {
    max-height: calc(100vh - 50px - 1rem);
    max-width: calc(100vw - 2rem);
    top: 50px;
    right: 1rem;
  }
}
.page-skeleton .page-app-menu .inner-wrap {
  overflow: auto;
}
.page-skeleton .page-app-menu .inner-wrap:focus {
  outline: 0px solid transparent;
}
.page-skeleton .page-menu {
  background: #fff;
  overflow: auto;
  transition: margin-left 0.3s;
  z-index: 997;
  width: 250px;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  left: 0;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-menu {
    transition: margin-left 0.4s, opacity 0.4s;
    position: relative;
  }
}
.page-skeleton .page-menu .inner-wrap {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-menu {
    width: 200px;
    min-width: 200px;
  }
}
@media screen and (min-width: 46em) {
  .page-skeleton .page-menu {
    width: 250px;
    min-width: 250px;
  }
}
.page-skeleton .page-menu nav.nav-menu {
  margin-top: 0;
  flex: 1 0 auto;
}
.page-skeleton .page-menu nav.nav-menu li {
  margin-bottom: 0;
}
.page-skeleton .page-menu .library-version {
  text-align: center;
  color: #8c8c8c;
  font-size: .75em;
}
.page-skeleton .page-menu .library-version a {
  color: #8c8c8c;
}
.page-skeleton .page-menu .library-version a:hover {
  text-decoration: underline;
}
.page-skeleton .page-side-menu {
  background: #fff;
  position: absolute;
  overflow: scroll;
  height: calc(100vh - 40px);
  right: 0;
  top: 0;
  width: 400px;
  transition: right 0.4s;
  max-width: calc(100vw - 35px);
  z-index: 996;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-side-menu {
    height: calc(100vh - 50px);
  }
}
.page-skeleton .page-main-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 40px);
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-main-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100vh - 50px);
  }
  .page-skeleton .page-main-wrap[data-nomenu] {
    display: block;
  }
  .page-skeleton .page-main-wrap[data-nomenu] .page-menu-wrap {
    display: none;
  }
}
.page-skeleton .page-main-wrap .menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  width: 100%;
  height: 100%;
  z-index: 995;
}
.page-skeleton .page-main-wrap .menu-toggle svg {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  left: 5px;
  fill: #808080;
}
.page-skeleton .page-main-wrap .menu-toggle.main-menu-toggle svg {
  right: 5px;
  left: unset;
}
.page-skeleton .page-main-wrap .menu-toggle:hover svg {
  fill: #fff;
}
.page-skeleton .page-main-wrap .menu-toggle[data-state="showing"] {
  display: block;
}
@media screen and (min-width: 38em) {
  .page-skeleton .page-main-wrap .menu-toggle[data-state="showing"] {
    display: none;
  }
}
.page-skeleton[data-noheader] .page-main-wrap {
  height: 100%;
}
@media screen and (min-width: 38em) {
  .page-skeleton[data-noheader] .page-main-wrap {
    height: 100%;
  }
}
.page-skeleton .page-content-wrap {
  overflow: auto;
  float: left;
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page-skeleton .page-content-wrap .main-content {
  flex-grow: 1;
  overflow: auto;
}
.page-skeleton .page-toolbar-wrap .inner-wrap {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.page-skeleton .page-content-wrap .main-content + .page-toolbar-wrap {
  bottom: 0;
}
.page-skeleton .page-content-wrap .main-content + .page-toolbar-wrap .inner-wrap {
  border-bottom: none;
  border-top: 1px solid #ccc;
}

.page-skeleton[data-menu-state="closed"] .page-menu {
  margin-left: -250px;
  box-shadow: none;
}
@media screen and (min-width: 38em) {
  .page-skeleton[data-menu-state="closed"] .page-menu {
    opacity: 0;
    margin-left: -200px;
  }
}
@media screen and (min-width: 46em) {
  .page-skeleton[data-menu-state="closed"] .page-menu {
    margin-left: -250px;
  }
}
.page-skeleton[data-menu-state="closed"] .page-main-wrap .main-menu-toggle {
  display: none;
}
.page-skeleton[data-member-menu-state="closed"] .page-header-menu {
  top: -275px;
}
.page-skeleton[data-member-menu-state="closed"] .page-header-menu .inner-wrap {
  display: none;
}
@media screen and (min-width: 38em) {
  .page-skeleton[data-member-menu-state="closed"] .page-header-menu {
    top: -265px;
  }
}
.page-skeleton[data-app-menu-state="closed"] .page-app-menu {
  top: -325px;
}
.page-skeleton[data-app-menu-state="closed"] .page-app-menu .inner-wrap {
  display: none;
}
@media screen and (min-width: 38em) {
  .page-skeleton[data-app-menu-state="closed"] .page-app-menu {
    top: -315px;
  }
}
.page-skeleton[data-side-menu-state="closed"] .page-side-menu {
  right: -403px;
}
.page-skeleton[data-side-menu-state="closed"] .page-side-menu .inner-wrap {
  display: none;
}
.page-skeleton[data-side-menu-state="closed"] .page-main-wrap .side-menu-toggle {
  display: none;
}
