.page-skeleton-menu {
	.navLinks,
	.navLink {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.navLinkAction,
	.navLinkActionAlt {
		outline: 0;
		line-height: 1.15;
		border: none;
		display: block;
		width: 100%;
		text-decoration: none;
		position: relative;
		text-align: left;
		background: none;
		padding: 0;
		font-size: 14px;
		@media screen and (min-width: $skeleton-breakpoint-md) {
			font-size: 16px;
		}
		&.active-link {
			@if ($skeleton-widget-adminNav-menuLinkActiveColor) {
				color: $skeleton-widget-adminNav-menuLinkActiveColor;
				.navLinkSpecialToggle {
					fill: $skeleton-widget-adminNav-menuLinkActiveColor;
				}
			}
			@if ($skeleton-widget-adminNav-menuLinkActiveBackground) {
				background-color: $skeleton-widget-adminNav-menuLinkActiveBackground;
			}
		}
	}

	.navLinkAction {
		cursor: pointer;
		@if ($skeleton-widget-adminNav-menuLinkColor) {
			color: $skeleton-widget-adminNav-menuLinkColor;
		}
		@if ($skeleton-widget-adminNav-menuLinkBackground) {
			background-color: $skeleton-widget-adminNav-menuLinkBackground;
		}
	}

	.navLinkActionAlt {
		@if ($skeleton-widget-adminNav-menuAltColor) {
			color: $skeleton-widget-adminNav-menuAltColor;
		}
		@if ($skeleton-widget-adminNav-menuAltBackground) {
			background-color: $skeleton-widget-adminNav-menuAltBackground;
		}
	}

	.navLinkActionContent {
		padding: 15px;
	}

	a.navLinkAction {
		.navLinkActionContent {
			&:hover {
				@if ($skeleton-widget-adminNav-menuLinkFocusColor) {
					color: $skeleton-widget-adminNav-menuLinkFocusColor;
				}
				@if ($skeleton-widget-adminNav-menuLinkFocusBackground) {
					background-color: $skeleton-widget-adminNav-menuLinkFocusBackground;
				}
			}
		}
		&:focus {
			.navLinkActionContent {
				@if ($skeleton-widget-adminNav-menuLinkFocusColor) {
					color: $skeleton-widget-adminNav-menuLinkFocusColor;
				}
				@if ($skeleton-widget-adminNav-menuLinkFocusBackground) {
					background-color: $skeleton-widget-adminNav-menuLinkFocusBackground;
				}
			}
		}
	}

	button.navLinkAction {
		&:hover, &:focus, &.focus {
			@if ($skeleton-widget-adminNav-menuLinkFocusColor) {
				color: $skeleton-widget-adminNav-menuLinkFocusColor;
			}
			@if ($skeleton-widget-adminNav-menuLinkFocusBackground) {
				background-color: $skeleton-widget-adminNav-menuLinkFocusBackground;
			}
			.navLinkSpecialToggle {
				@if ($skeleton-widget-adminNav-menuLinkFocusColor) {
					fill: $skeleton-widget-adminNav-menuLinkFocusColor;
				}
			}
		}
	}

	.navLinkIcon {
		svg, img {
			height: 1em;
		}
		svg {
			width: 1.2em;
			fill: currentColor;
			position: relative;
			vertical-align: middle;
			top: -2px;
		}
		img {
			width: auto;
			display: block;
			vertical-align: middle;
			top: -2px;
		}
	}

	.navLinkSpecialAction {
		&[data-sub-state="opened"] {
			.navLinkSpecialToggle svg {
				transform: rotate(180deg);
			}
		}
		&[data-sub-state="closed"] {
			.navLinkSpecialToggle svg {
				transform: rotate(0deg);
			}
			> .navLinkSpecialContent {
				height: 0 !important;
			}
		}
		> .navLinkAction .navLinkActionContent {
			padding-right: 5px;
			width: calc(100% - 47px);
			@media screen and (min-width: $skeleton-breakpoint-md) {
				width: calc(100% - 49px);
			}
		}
	}

	.navLinkSpecialToggle {
		display: block;
		outline: 0;
		border: none;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 47px;
		height: 47px;
		text-align: center;
		line-height: 47px;
		cursor: pointer;
		&:hover, &:focus {
			@if ($skeleton-widget-adminNav-menuLinkFocusColor) {
				fill: $skeleton-widget-adminNav-menuLinkFocusColor;
			}
			@if ($skeleton-widget-adminNav-menuLinkFocusBackground) {
				background-color: $skeleton-widget-adminNav-menuLinkFocusBackground;
			}
		}
		svg {
			width: 1.2em;
			height: auto;
			transition: transform .4s ease;
			display: inline;
			vertical-align: middle;
			position: relative;
			top: -3px;
		}
		@media screen and (min-width: $skeleton-breakpoint-md) {
			width: 49px;
			height: 49px;
			svg {
				top: -1px;
			}
		}
	}

	.navLinkSpecialContent {
		display: block;
		transition: height 0.4s;
		overflow: hidden;
		a.navLinkAction,
		button.navLinkAction {
			@if ($skeleton-widget-adminNav-menuSpecialColor) {
				color: $skeleton-widget-adminNav-menuSpecialColor;
			}
			@if ($skeleton-widget-adminNav-menuSpecialBackground) {
				background-color: $skeleton-widget-adminNav-menuSpecialBackground;
			}
			&.active-link {
				&:after {
					content: '';
					position: absolute;
					top: 5px;
					left: 5px;
					width: 5px;
					height: calc(100% - 10px);
					@if ($skeleton-widget-adminNav-menuSpecialActive) {
						background-color: $skeleton-widget-adminNav-menuSpecialActive;
					}
				}
				&:hover, &:focus, &.focus {
					&:after {
						@if ($skeleton-widget-adminNav-menuSpecialActiveFocus) {
							background-color: $skeleton-widget-adminNav-menuSpecialActiveFocus;
						}
					}
				}
			}
			&:hover, &:focus, &.focus {
				.navLinkActionContent {
					background-color: #ddd;
					@if ($skeleton-widget-adminNav-menuSpecialColorFocus) {
						color: $skeleton-widget-adminNav-menuSpecialColorFocus;
					}
					@if ($skeleton-widget-adminNav-menuSpecialBackgroundFocus) {
						background-color: $skeleton-widget-adminNav-menuSpecialBackgroundFocus;
					}
				}
			}
		}
		.navLinkText {
			margin-left: 1rem;
		}
	}
}